body {
  background-color: #e0e0e0;
  font-family: Century Gothic;
}

.container {
  display: flex;
  background-color: #ffffff;
  margin: auto;
  margin-top: 50px;
  width: 60vw;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  color: #0096ff;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  margin: 10px;
  flex-grow: 1;
}

.todo-item {
  display: flex;
  align-items: center;
  background-color: #eaeaea;
  margin: 1rem;
  padding: 2px;
  border-radius: 1.2rem;
  font-size: 1rem;
  width: 470px;
  justify-content: space-between;
}

.todo-item p {
  font-size: 1rem;
}

.todo-title {
  text-transform: uppercase;
}

.todo-info {
  margin-left: 10px;
  margin-right: 10px;
}

.todo-date {
  font-size: 1rem;
}

.form {
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

input,
textarea {
  margin: 10px;
  width: 180px;
  text-align: center;
  padding: 4px;
  font-size: 15px;
}

label {
  display: block;
  padding: 20px;
}

.btn {
  margin: 20px;
  padding: 6px;
  cursor: pointer;
  border-radius: 6px;
  border-color: transparent;
  background: transparent;
  font-size: 1rem;
  font-weight: 700;
}

.remove-btn,
.desc-btn,
.edit-btn {
  cursor: pointer;
  font-size: 0.85rem;
  margin: 4px;
  background: transparent;
  border-color: transparent;
}

.desc-btn {
  color: #0096ff;
}

.remove-btn {
  color: #860111;
}

.edit-btn {
  color: #81e979;
}

.todo-btns {
  display: flex;
  flex-direction: column;
}

.clear-btn {
  color: #860111;
}

.submit-btn {
  color: #0096ff;
}

/* responsive */

@media screen and (max-width: 390px) {
  .container {
    flex-direction: column;
  }
  .todo-item {
    display: flex;
    flex-direction: column;
    width: 200px;
  }

  .todo-title {
    font-size: 0.9rem;
  }

  .todo-date {
    font-size: 0.9rem;
  }

  .todo-item p {
    font-size: 0.9rem;
  }

  .todo-btns {
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    width: 70vw;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 80vw;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 864px) {
  .todo-item {
    width: 400px;
    margin-left: 0;
  }

  .todo-title {
    font-size: 0.9rem;
  }

  .todo-date {
    font-size: 0.9rem;
  }

  .todo-item p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 752px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    flex-direction: column;
  }
}
